<div class="footer">
    <div class="pull-right">
    </div>
    <div>
        <strong>Copyright</strong> &copy; 2021<span id="copyright-year"> &nbsp; &nbsp; </span>&copy; &nbsp; Powered By <a href="#" target="_blank">Anthony Ikemefuna.</a>
    </div>
</div>